@page
@model TestRazor.Pages.admin.IndexModel
@{
    ViewData["Title"] = "Admin Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Administrator Sign In</h3>
                </div>
                <div class="panel-body">
                   @if  (ViewData["error"] != null && (string) ViewData["error"] != "") { 
                       <div class="text-center"><b>@ViewData["error"]</b></div>
                    }

                    <form role="form" name=frmLogin id=frmLogin onsubmit="return xvalidate(this);" method=post>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Admin Username" name="userid" id="userid"
                                       autofocus maxlength=20>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="pwd" id="pwd"
                                       type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-secondary btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="clearfix"></div><br>

        </div> <!--col-md-4-->
    </div> <!--row-->
</div> <!--container-->